<div class="md:col-span-2">

   <div class="swiper mySwiper rounded-2xl overflow-hidden shadow-lg">

      <div class="swiper-wrapper">

         <!-- SLIDE 1 -->
         <div class="swiper-slide relative">
            <img
            src="https://cdn-new.topcv.vn/unsafe/https://static.topcv.vn/banners/sxx8L9RaqTO4T2grC9rfuWMNKVbwI6JJ_1773376141____5f2e1844430b7050e70a42685115a9e0.jpg"
            class="w-full h-64 object-cover" />
         </div>

         <!-- SLIDE 2 -->
         <div class="swiper-slide">
            <img
            src="https://cdn-new.topcv.vn/unsafe/https://static.topcv.vn/banners/xEp5eqgt2LiHK5sUhQQPk6GodIG1Jz0Z_1772595560____c97d978be15f7784e1f58f0f63295a9a.jpg"
            class="w-full h-64 object-cover" />
         </div>

         <!-- SLIDE 3 -->
         <div class="swiper-slide">
            <img
            src="https://cdn-new.topcv.vn/unsafe/https://static.topcv.vn/banners/M83RcrgYdA4j6zNxizOOfa9vECwc7VnA_1773392799____91dbfa888de36df2f5528bf52177a31f.jpg"
            class="w-full h-64 object-cover" />
         </div>

      </div>

      <!-- DOT -->
      <div class="swiper-pagination"></div>

      <!-- BUTTON -->
      <div class="swiper-button-next text-white"></div>
      <div class="swiper-button-prev text-white"></div>

   </div>
</div>
