<div class="bg-white text-gray-800 rounded-xl p-4 shadow">

   <ul class="space-y-3">
      <li class="flex justify-between hover:text-green-600 cursor-pointer">
         Kinh doanh/Bán hàng <span>›</span>
      </li>
      <li class="flex justify-between hover:text-green-600 cursor-pointer">
         Marketing/PR/Quảng cáo <span>›</span>
      </li>
      <li class="flex justify-between hover:text-green-600 cursor-pointer">
         Chăm sóc khách hàng <span>›</span>
      </li>
      <li class="flex justify-between hover:text-green-600 cursor-pointer">
         Nhân sự/Hành chính <span>›</span>
      </li>
      <li class="flex justify-between hover:text-green-600 cursor-pointer">
         Công nghệ thông tin <span>›</span>
      </li>
      <li class="flex justify-between hover:text-green-600 cursor-pointer">
         Lao động phổ thông <span>›</span>
      </li>
   </ul>
</div>
