@{
   ViewData["Title"] = "Mẫu CV Chuyên Nghiệp";
}

<div class="absolute rounded-full top-20 left-10 w-72 h-72 bg-emerald-400 opacity-20 blur-3xl -z-10"></div>
<div class="absolute bg-purple-500 rounded-full bottom-20 right-10 w-72 h-72 opacity-20 blur-3xl -z-10"></div>
<div class="px-4 py-8 mx-auto max-w-7xl">

   <!-- Breadcrumb -->
   <div class="mb-4 text-sm text-gray-500">
      <span class="font-medium text-green-600">Trang chủ</span>
      >
      <span>Mẫu CV theo style</span>
      >
      <span class="font-semibold text-gray-700">
         Mẫu CV xin việc tiếng Việt Chuyên nghiệp chuẩn 2026
      </span>
   </div>

   <!-- TITLE -->
   <div class="flex items-center justify-between mb-6">

      <div>

         <h1 class="text-3xl font-bold text-gray-800">
            Mẫu CV xin việc tiếng Việt
            <span class="text-green-600">
               Chuyên nghiệp
            </span>
            chuẩn 2026
         </h1>

         <p class="max-w-2xl mt-2 text-gray-500">
            Tuyển chọn 23 mẫu CV chuyên nghiệp (phiên bản tiếng Việt) với thiết kế tinh gọn,
            bố cục rõ ràng, màu sắc trang nhã, phù hợp với những ứng viên muốn tạo ấn tượng về sự chỉn chu,
            nghiêm túc và đáng tin cậy trong công việc.
         </p>

      </div>

      <!-- Robot -->
      <img src="https://cdn-icons-png.flaticon.com/512/4712/4712109.png" class="w-24">
   </div>

   <!-- FILTER -->
   <div class="flex flex-wrap gap-3 mb-8">

      <a href="/Create_CV/All_CV_Style"
         class="px-4 py-2 transition duration-300 bg-gray-200 rounded-full hover:bg-emerald-500 hover:text-white hover:-translate-y-1">
         Tất cả
      </a>

      <a href="/Create_CV/Simple_CV"
         class="px-4 py-2 transition duration-300 bg-gray-200 rounded-full hover:bg-emerald-500 hover:text-white hover:-translate-y-1">
         Đơn giản
      </a>

      <a href="/Create_CV/CVChuyenNghiep"
         class="px-4 py-2 transition duration-300 rounded-full bg-emerald-500 hover:bg-emerald-500 hover:text-white hover:-translate-y-1">
         Chuyên nghiệp
      </a>

      <a href="/Create_CV/Modern_CV"
         class="px-4 py-2 transition duration-300 bg-gray-200 rounded-full hover:bg-emerald-500 hover:text-white hover:-translate-y-1">
         Hiện đại
      </a>

   </div>


   <!-- TEMPLATE GRID -->
   <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">

      <!-- CARD 1 -->
      <div class="p-4 transition bg-white shadow rounded-xl hover:shadow-2xl hover:-translate-y-2">

         <div class="relative overflow-hidden rounded-lg group">

            <img src="/images/cv1.jpg" class="w-full h-112.5 object-cover rounded-lg">

            <!-- Hover -->
            <div
               class="absolute inset-0 flex items-center justify-center transition opacity-0 bg-black/50 group-hover:opacity-100">

               <a href="/CV/Builder"
                  class="px-6 py-3 font-semibold text-white transition rounded-lg bg-linear-to-r from-emerald-500 to-purple-500 hover:scale-105">
                  Dùng mẫu
               </a>

            </div>

         </div>

         <!-- TAG -->
         <div class="flex gap-2 mt-3">

            <span class="px-2 py-1 text-xs rounded-full bg-emerald-100 text-emerald-700">
               Đơn giản
            </span>

            <span class="px-2 py-1 text-xs text-purple-700 bg-purple-100 rounded-full">
               Chuyên nghiệp
            </span>

         </div>

      </div>
      <!-- CARD 2 -->
      <div class="p-4 transition bg-white shadow rounded-xl hover:shadow-2xl hover:-translate-y-2">

         <div class="relative overflow-hidden rounded-lg group">

            <img src="/images/cv2.jpg" class="w-full h-112.5 object-cover">

            <div
               class="absolute inset-0 flex items-center justify-center transition opacity-0 bg-black/50 group-hover:opacity-100">

               <a href="/CV/Builder"
                  class="px-6 py-3 font-semibold text-white transition rounded-lg bg-linear-to-r from-emerald-500 to-purple-500 hover:scale-105">
                  Dùng mẫu
               </a>

            </div>

         </div>

         <div class="flex gap-2 p-3">

            <span class="px-2 py-1 text-xs rounded-full bg-emerald-100 text-emerald-700">
               Đơn giản
            </span>

            <span class="px-2 py-1 text-xs text-purple-700 bg-purple-100 rounded-full">
               Chuyên nghiệp
            </span>

         </div>

      </div>


      <!-- CARD 3 -->
      <div class="p-4 transition bg-white shadow rounded-xl hover:shadow-2xl hover:-translate-y-2">

         <div class="relative overflow-hidden rounded-lg group">

            <img src="/images/cv4.jpg" class="w-full h-112.5 object-cover">

            <div
               class="absolute inset-0 flex items-center justify-center transition opacity-0 bg-black/50 group-hover:opacity-100">

               <a href="/CV/Builder"
                  class="px-6 py-3 font-semibold text-white transition rounded-lg bg-linear-to-r from-emerald-500 to-purple-500 hover:scale-105">
                  Dùng mẫu
               </a>

            </div>

         </div>

         <div class="flex gap-2 p-3">

            <span class="px-2 py-1 text-xs text-purple-700 bg-purple-100 rounded-full">
               Chuyên nghiệp
            </span>

            <span class="px-2 py-1 text-xs text-white rounded-full bg-cyan-500">
               Hiện đại
            </span>

         </div>

      </div>

      <!-- CARD 4 -->
      <div class="p-4 transition bg-white shadow rounded-xl hover:shadow-2xl hover:-translate-y-2">

         <div class="relative overflow-hidden rounded-lg group">

            <img src="/images/cv3.jpg" class="w-full h-112.5 object-cover">

            <div
               class="absolute inset-0 flex items-center justify-center transition opacity-0 bg-black/50 group-hover:opacity-100">

               <a href="/CV/Builder"
                  class="px-6 py-3 font-semibold text-white transition rounded-lg bg-linear-to-r from-emerald-500 to-purple-500 hover:scale-105">
                  Dùng mẫu
               </a>

            </div>

         </div>

         <div class="flex gap-2 p-3">

            <span class="px-2 py-1 text-xs text-purple-700 bg-purple-100 rounded-full">
               Chuyên nghiệp
            </span>

            <span class="px-2 py-1 text-xs rounded-full bg-emerald-100 text-emerald-700">
               Đơn giản
            </span>

         </div>

      </div>

      <!-- CARD 5 -->
      <div class="p-4 transition bg-white shadow rounded-xl hover:shadow-2xl hover:-translate-y-2">

         <div class="relative overflow-hidden rounded-lg group">

            <img src="/images/cv5.jpg" class="w-full h-112.5 object-cover">

            <div
               class="absolute inset-0 flex items-center justify-center transition opacity-0 bg-black/50 group-hover:opacity-100">

               <a href="/CV/Builder"
                  class="px-6 py-3 font-semibold text-white transition rounded-lg bg-linear-to-r from-emerald-500 to-purple-500 hover:scale-105">
                  Dùng mẫu
               </a>

            </div>

         </div>

         <div class="flex gap-2 p-3">

            <span class="px-2 py-1 text-xs text-purple-700 bg-purple-100 rounded-full">
               Chuyên nghiệp
            </span>

            <span class="px-2 py-1 text-xs text-white rounded-full bg-cyan-500">
               Hiện đại
            </span>

         </div>

      </div>

   </div>

</div>
