<div class="shrink-0">
   <a href="/" class="text-2xl font-bold tracking-tight">
      <span class="bg-linear-to-r from-purple-600 via-pink-500 to-orange-400 text-transparent
         bg-clip-text hover:from-purple-500 hover:via-pink-400 hover:to-orange-300 transition-all duration-300">
         Zeion
      </span>
      <span
         class="bg-linear-to-r from-blue-600 to-cyan-500 text-transparent bg-clip-text hover:from-blue-500 hover:to-cyan-400 transition-all duration-300">
         Developer
      </span>
      <span class="ml-1 text-xs align-super text-gray-400 font-light hidden sm:inline-block">
         ✦
      </span>
   </a>
</div>
