<div class="relative group">

   <a href="/Create_CV/All_CV_Style"
      class="text-gray-700 hover:text-purple-600 px-3 py-2 text-sm font-medium transition-colors duration-200 border-b-2 border-transparent hover:border-purple-600 flex items-center gap-1">
      Tạo CV
      <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
         <path stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
      </svg>
   </a>

   <div
      class="absolute left-0 top-full hidden group-hover:block bg-white w-150 rounded-xl shadow-xl border border-gray-100 p-6">

      <div class="grid grid-cols-2 gap-8">
         <div>
            <a href="/Create_CV/All_CV_Style" class="text-green-600 font-semibold mb-3 hover:text-purple-600">
               Mẫu CV theo style →
            </a>

            <ul class="space-y-2 text-gray-700">
               <li>
                  <a href="/Create_CV/Simple_CV" class="hover:text-purple-600">
                     Mẫu CV Đơn giản
                  </a>
               </li>
               <li>
                  <a href="/Create_CV/CVChuyenNghiep" class="hover:text-purple-600">
                     CV Chuyên Nghiệp
                  </a>
               </li>
               <li>
                  <a href="/Create_CV/Modern_CV" class="hover:text-purple-600">
                     Mẫu CV Hiện đại
                  </a>
               </li>
            </ul>
         </div>
         <div class="space-y-3 text-gray-700">
            <a href="/Create_CV/CV_Management" class="block hover:text-purple-600">
               Quản lý CV
            </a>
            <a href="/Create_CV/Upload_CV" class="block hover:text-purple-600">
               Tải CV lên
            </a>
         </div>
      </div>
   </div>
</div>
