<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>@ViewData["Title"] - SRB_WebPortal</title>

   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link
   href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
   rel="stylesheet">

   <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
   <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
   <link rel="stylesheet" href="~/SRB_WebPortal.styles.css" asp-append-version="true" />
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
   <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</head>

<body class="bg-green-50 text-gray-900 antialiased font-sans">

   @await Component.InvokeAsync("Header")

   <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 min-h-screen">
      <main role="main" class="py-8">
         @RenderBody()
      </main>
   </div>

   @await Component.InvokeAsync("Footer")

   <script src="~/lib/jquery/dist/jquery.min.js"></script>

   <script src="~/js/site.js" asp-append-version="true"></script>
   <script src="~/js/common/utils.js"></script>

   @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
