@{
   ViewData["Title"] = "Dashboard";
}

<div class="bg-blue-50 p-10 rounded-xl shadow-lg">
   <h1 class="text-3xl font-bold text-blue-700">Đây là trang Dashboard Business</h1>
   <p class="mt-4 text-gray-600">Đã chạy Router thành công!</p>
</div>

